
@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.CardTitle = "View Products";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div>
    <a class="btn btn-success" href="/Admin/Product/Create"> Create</a>

</div>
<br />
<table class="table table-hover " width="100%">
    <thead>
        <tr>
            <td>Name</td>
            <td> Description</td>
            <td> Category</td>
            <td> Price</td>
            <td> Image</td>
            <td> Actions </td>
       </tr>
    </thead>

    
</table>